[buildout]
develop = . 
parts = py.test releaser devpython sphinxpython sphinxbuilder pyflakes
versions = versions
unzip = true

[versions]


[py.test]
recipe = z3c.recipe.scripts
eggs =
    babel-obviel [test]
    pytest

[releaser]
recipe = z3c.recipe.scripts
eggs = zest.releaser

[devpython]
recipe = z3c.recipe.scripts:interpreter
eggs = babel-obviel

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/_build
interpreter = ${buildout:directory}/bin/sphinxpython

[sphinxpython]
recipe = z3c.recipe.scripts:interpreter
eggs = babel-obviel

[pyflakes]
recipe = z3c.recipe.scripts
eggs = pyflakes
       setuptools
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
scripts = pyflakes

